/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

header {
  background-color: #202020;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0 15px;

  .filters {
    ul {
      display: flex;
      justify-content: flex-end;
    }
    ul li {
      list-style-type: none;

      img {
        width: 100px;
        transform: rotateY(-180deg);
      }
    }
  }
}

.grid {
  display: grid;
  grid-template-rows: 3rem 1fr;
  height: 100%;
}

.sneakers-list {
  display: grid;
  grid-template-rows: 2rem 1fr;
  text-align: center;
}

.sneakers-list-name {
  text-align: left;
}

.sneakers-list-th {
  background-color: #e2e2e2;
}

.sneakers-list-td {
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
}

.sneakers-list-th,
.sneakers-list-td {
  display: grid;
  grid-template-columns: 2rem 1fr 8rem 8rem;
  align-items: center;
}

.sneakers-list-total{
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  margin-top: 20px;

  .sneakers-list-total-text{
    margin-right: 15px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
